{
	admin off
}

http://localhost:60000 {
	handle /api/* {
		reverse_proxy localhost:8090 {
			transport http {
				compression off
			}
		}
	}
	handle {
		root * build # If kaufkauflist is installed from nixpkgs you should replace `build` with `${pkgs.kaufkauflist}/share/kaufkauflist` in your Caddy config.
		file_server
		encode zstd gzip
		header {
			Referrer-Policy no-referrer
			X-Content-Type-Options nosniff
		}
		header {
			Content-Security-Policy "frame-ancestors 'none';"
			Permissions-Policy "accelerometer=(), autoplay=(), camera=(), cross-origin-isolated=(), display-capture=(), document-domain=(), encrypted-media=(), fullscreen=(), geolocation=(), gyroscope=(), keyboard-map=(), magnetometer=(), microphone=(), midi=(), payment=(), picture-in-picture=(), publickey-credentials-get=(), screen-wake-lock=(), sync-xhr=(), usb=(), xr-spatial-tracking=(), clipboard-read=(), clipboard-write=()"
			Cache-Control "no-cache, public"
		}
		header /_app/immutable/* {
			Cache-Control "max-age=31536000, immutable, public" # Files in this directory get a new hash suffix when they are updated, meaning they can be cached for a long time.
			-ETag # ETag header is probably not necessary for files cached that long
		}
	}

}
